<div>
	<h1>Accessibilities:</h1>
	<div *ngFor="let accessibility of accessibilities">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 'a', accessibility)" [checked]="activeFilters['a']?.includes(accessibility)"/> {{ accessibility }}</label>
	</div>

	<h1>Difficulties:</h1>
	<div *ngFor="let difficulty of difficulties">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 'd', difficulty)" [checked]="activeFilters['d']?.includes(difficulty)"/> {{ difficulty }}</label>
	</div>

	<h1>Terrains:</h1>
	<div *ngFor="let terrain of terrains">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 't', terrain)" [checked]="activeFilters['t']?.includes(terrain)"/> {{ terrain }}</label>
	</div>
</div>
