<div id="filters">
	<h1>Filters</h1>

	<h2>Duration:</h2>
	<mat-slider discrete [min]="durations[0]" [max]="durations[1]">
		<input matSliderStartThumb value="{{durations[0]}}"/>
		<input matSliderEndThumb value="{{durations[1]}}"/>
	</mat-slider>

	<h2>Accessibility:</h2>
	<div *ngFor="let accessibility of accessibilities">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 'a', accessibility)" [checked]="activeFilters['a']?.includes(accessibility)"/> {{ accessibility }}</label>
	</div>

	<h2>Difficulty:</h2>
	<div *ngFor="let difficulty of difficulties">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 'd', difficulty)" [checked]="activeFilters['d']?.includes(difficulty)"/> {{ difficulty }}</label>
	</div>

	<h2>Terrain:</h2>
	<div *ngFor="let terrain of terrains">
		<label><input type="checkbox" (change)="onCheckboxChange($event, 't', terrain)" [checked]="activeFilters['t']?.includes(terrain)"/> {{ terrain }}</label>
	</div>
</div>
