input[type="checkbox"] {
	accent-color: #008C72;
}

mat-slider {
	width: 80%;
}

label {
	color: #666;
}

#filters {
	margin-left: 1rem;
}

h1 {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
	margin-bottom: 0;
}

h2 {
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
	margin-bottom: 0;
}
