aside {
	@media (min-width: 768px) {
		position: fixed;
		width: 25%;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
main {
	@media (min-width: 768px) {
		margin-left: 25%;
		border-left: 1px solid #ccc;
		padding: 20px;
		height: calc(100vh - 6.6rem);
		gap: 1rem;
	}
	@media (max-width: 768px) {
		height: calc(100vh - 4.3rem);
		app-card {
			margin-left: -1rem;
			width: 90%;
		}
		gap: 0;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: scroll;
}
