<div class="home-container">
    <a class="discover-banner" [routerLink]="['/passer-simple']">
        <h1>Découvrez Passer Simple</h1>
        <p>Le magazine qui fait revivre l'histoire romande</p>
    </a>

    <div class="section-container featured-walks-section">
        <h2 class="section-title">Randonnées en vedette</h2>
        <div class="featured-walks">
            <app-card *ngFor="let walk of featuredWalks" [title]="walk.name" [content]="walk.description"
                [image]="walk.image_url" [distance]="walk.distance_km" [duration]="walk.duration"
                (click)="navigateToWalk(walk.id)">
            </app-card>
        </div>
        <div class="center-button hide-on-mobile">
            <button mat-flat-button class="view-more-button" (click)="router.navigate(['/search'])">
                Voir plus
            </button>
        </div>
    </div>

    <div class="section-container">
        <h2 class="section-title">Catégories populaires</h2>
        <div class="categories-grid">
            <div class="category-card" *ngFor="let category of categories" (click)="category.goToCategory()">
                <mat-icon class="category-icon">{{category.icon}}</mat-icon>
                <span class="category-name">{{category.name}}</span>
                <mat-icon class="arrow-icon">chevron_right</mat-icon>
            </div>
        </div>
    </div>
</div>
