
:host {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  max-width: 100%;
  padding: 12px;
}

.discover-banner {
  background-image: url('/camping-view.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 22px;
  height: 124px;
  padding: 20px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  overflow: hidden;
  color: white;
}

.discover-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.discover-banner h1, 
.discover-banner p {
  position: relative;
  z-index: 2;
  margin: 0;
}

.discover-banner h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.discover-banner p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
}

.section-container {
  padding: 0 16px;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  margin-bottom: 16px;
  color: #333;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 1.5rem;
}

.category-card {
  display: flex;
  align-items: center;
  background-color: #E6F0E6;
  border-radius: 22px;
  padding: 16px;
  cursor: pointer;
}

.category-card:hover {
  background-color: #c2dac2;
}

.category-icon {
  margin-right: 12px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.category-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  flex-grow: 1;
}

.arrow-icon {
  color: #666;
  opacity: 0.5;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.featured-walks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.center-button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.view-more-button {
  background-color: #008C72 !important;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
}

.view-more-button:hover {
  background-color: #007a61;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
  }
  
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .featured-walks {
    grid-template-columns: repeat(3, 1fr);
  }
}

.home-container {
  display: flex;
  flex-direction: column;
}

.section-container.featured-walks-section {
  order: 2;
}

.section-container:nth-child(3) {
  order: 1;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 0 2px;
  }

  .section-container.featured-walks-section {
    order: 1;
  }
  
  .section-container:nth-child(3) {
    order: 2;
  }

  .card {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
