.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 10px;
    background-color: #fff;
  
    .icon {
      background-color: #e2f5e7;
      border-radius: 50%;
      display: flex;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
  
      .svg {
        font-size: 50px;
        color: #2e7d32;
        font-size: 3rem;
        width: 60px; 
        height: 60px; 
        padding-top: 0.8rem;
      }
    }
  
    .page-head{
      margin-bottom: -14px;
    }

    .page-child{
      margin-bottom: 40px;
    }

    .error-container > p{
      margin-top: 40px;
    }
     .icon > .mat-icon-big{
      font-size: 100px;
     }
  
    .button {
      background-color: #8fc792;
      color: rgb(18, 68, 5);
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 25px;
      font-weight: 150px;
      font-size: 14px;
      transition: background-color 0.3s ease;
      cursor: pointer;
  
      &:hover {
        background-color: #388e3c;
      }
    }
  
    // Responsive tweaks
    @media (max-width: 480px) {
      .icon .mat-icon-big {
        font-size: 36px;
      }
  
      .button {
        font-size: 13px;
        padding: 8px 18px;
      }
    }
  }
  